{% extends "admin/base_site.html" %}

{% block content %}

{% for order in orders %}

<div class="module">
<table>
	<caption>
		User: {{ order.user_id }}, Order ID: {{ order.id }}
    </caption>
	{% for order_item in order_items %}
		{% if order_item.order_id == order.id %}
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Count</th>
		</tr>
		<tr>
			<td>
				{{ order_item.id }}
			</td>
			<td>
				{{ order_item.sticker.name }}
			</td>
			<td>
				{{ order_item.quantity }}
			</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>
</div>

{% endfor %}

{% endblock %}