<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stick It!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .itemtop {
        color: #888888;
        text-shadow: 0 1px 0 #000000;
      }

      .itemtop:hover,
      .itemtop:focus {
        color: #ffffff;
      }

    </style>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/simpleCart.min.js"></script>

  <script>
    simpleCart({
      cartColumns: [
      { attr: "code" , label: "Sticker ID" },
      { view: "image" , attr: "thumb", label: 'Thumbnail' },
      { attr: "name" , label: "Name" },
      { view: "increment" , label: false },
      { view: "decrement" , label: false },
      { attr: "quantity" , label: "Quantity" },
      { view: "currency", attr: "price", label: "Price"},
      { view: "remove" , text: "Remove" , label: false }
        ],
      cartStyle: "table", 
      checkout: {
        type: "SendForm",
        url: "/checkout",
        extra_data: {
          csrftoken: "{% csrf_token %}",
        }
      }
    });

    simpleCart.bind( 'beforeCheckout' , function( data ){
      console.log(simpleCart.quantity());
      if (simpleCart.quantity() == 0) {
        alert("Your Cart is empty! You should add items at first.");
        return false;
      }
    });

    simpleCart.bind( 'beforeAdd' , function( item ){
      {% if user.username %}
        return true;
      {% else %}
        document.location = "/login"
        return false;
      {% endif %}
    });

  </script>

  <!-- UserVoice JavaScript SDK (only needed once on a page) -->
  <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/2VhfBW834sUVlCLpFEDjJA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

  <!-- A tab to launch the Classic Widget -->
  <!--
  <script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'full',
    primary_color: '#d6770b',
    link_color: '#007dbf',
    default_mode: 'support',
    forum_id: 210381,
    tab_label: 'Feedback & Support',
    tab_color: '#cc6d00',
    tab_position: 'middle-right',
    tab_inverted: true
  }]);
  </script>
-->

    {% block extrahead %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  </head>


  <body>

    <div id="header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'stickit.views.index' %}">Stick It</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <!-- {% if user.username %}
                <a href="{% url 'stickit.views.orders' %}">
                {% else %}
                <a href="{% url 'stickit.views.index' %}">
                {% endif %} -->
                  <a href="{% url 'stickit.views.info' %}">Info</a></li>
              <li><a href="/store">Store</a></li>
              <li><a href="/order_custom">Order your sticker</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>

            {% if user.username %}
              <span class="pull-right" style="padding-top: 10px;">
                <span  style="color: #999999; text-decoration: none;">Welcome, 
                <a href="{% url 'stickit.views.orders' %}" class="itemtop">{{ user }}</a>! <a href="{% url 'stickit.views.cart' %}" class="itemtop" style="margin-left: 10px">View Cart (<span class="simpleCart_quantity"></span>)</a></span>
                <a style="margin-left:10px" href="{% url 'stickit.views.logout_user' %}" class="itemtop">Log Out</a>
              </span>
            {% else %}
              <form class="navbar-form pull-right" action={% url 'stickit.views.login_user' %} method="post">
                <input class="span2" type="text" placeholder="Name" name="username">
                <input class="span2" type="password" placeholder="Password" name="password">
                <button type="submit" class="btn">Log in</button>
                <button type="button" class="btn" onClick="parent.location={% url 'stickit.views.sign_up' %}">Sign Up</button>
              </form>
            {% endif %}
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
 
      {% block content %}
      {% endblock %}

      <hr>
      <footer>
        <p>&copy; StickIt, LLC. 2013</p>
      </footer>

    </div>

    <script src="{{STATIC_URL}}js/bootstrap.js"></script>

  </body>
</html>
