{% extends "stickit/base.html" %}

{% block content %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Order your own sticker</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="{% url 'stickit.views.store' %}" class="btn btn-primary">Go to Store &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <!-- <div class="row">
    <div class="span4">
      <h4>Choose popular</h2>
      <p></p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h4>Order custom</h2>
      <p></p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h4>Contact us</h2>
      <p></p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div> -->

{% endblock %}